  .search {
    margin: 0 auto;
    width: 800px;
  }

  .user-avatar {
    float: left;
    margin-right: 12px;
    width: 40px;
    border-radius: 40px;
  }

  .results {
    margin-top: 40px;
  }

.search-button{
    position: absolute;
    right: 0;
    bottom: 0;
}

.results_footer{
    margin-top: 25px;
    text-align: center;
}

#persons-loading-spinner{
    font-size:30px;
    margin-left: 50%;
}